.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: #d9d9d9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: slideDown 0.4s ease forwards;
}

.hide {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: #d9d9d9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: slideUp 0.4s ease forwards;
}

.notAnimate {
  display: none;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.link {
  text-decoration: none;
  color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 700;
  /* background: #000; */
}